*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLE */

header{
    height: 50px;
    width: 100%;
    background-color: orange;
    color: white;
    padding: 10px 0px;
}

.container{
    display: flex;
}

.centered{
    max-width: 1200px;
    margin: 0 auto;
}

.height-100{
    max-height: 100%;
}

.container.centered{
    justify-content: space-between;
}

.list{
    list-style: none;
}

.image-contain{
    object-fit: contain;
    max-width: 100%;
}

/* MAIN STYLE */

.row{
    width: 100%;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-50{
    width: calc(100% / 2 - 20px);
}

.container.row{
    margin: 50px 0px;
    gap: 50px 0px;
}

/* FOOTER STYLE */

footer{
    height: 100;
    background-color: rgb(41, 40, 40);
}

.footer-container{
    margin: 50px 0px 50px 0px;
    color: white;
    line-height: 2;
}
